extends ../layout

block content 
    h1 Listado de Reservar
    table.table 
        thead  
            tr 
                th Bicicleta
                th Usuario
                th Desde
                th Hasta
        tbody 
            each reserva in reservar
                tr
                    td=reserva.bicicleta
                    td=reserva.usuario
                    td=reserva.desde
                    td=reserva.hasta
                   
    a(href='/') Home
